{% extends "base.html" %}
{% block titulo %}Funcionários{% endblock %}

{% block conteudo %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="h3 mb-0">Funcionários</h1>

    <a class="btn btn-primary"
       href="{% url 'funcionarios:criar' %}">
        Novo funcionário
    </a>
</div>

<form method="get" class="row g-2 mb-4">
    <div class="col-md-7">
        <input type="text"
               name="q"
               value="{{ procura }}"
               class="form-control"
               placeholder="Procurar por nome...">
    </div>

    <div class="col-md-3">
        <select name="estado" class="form-select">
            <option value="" {% if not estado %}selected{% endif %}>
                Todos os estados
            </option>

            <option value="ativo"
                    {% if estado == "ativo" %}selected{% endif %}>
                Apenas ativos
            </option>

            <option value="inativo"
                    {% if estado == "inativo" %}selected{% endif %}>
                Apenas inativos
            </option>
        </select>
    </div>

    <div class="col-md-2 d-grid">
        <button class="btn btn-primary">
            Filtrar
        </button>
    </div>
</form>

<div class="card">
    <table class="table table-hover align-middle mb-0">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Função</th>
                <th>Serviços</th>
                <th>Estado</th>
                <th class="text-end">Ações</th>
            </tr>
        </thead>

        <tbody>
            {% for f in funcionarios %}
            <tr>
                <td>{{ f.nome }}</td>

                <td>{{ f.funcao|default:"—" }}</td>

                <td class="small">
                    {{ f.servicos.all|join:", "|default:"—" }}
                </td>

                <td>
                    {% if f.ativo %}
                        <span class="badge text-bg-light border border-dark">
                            Ativo
                        </span>
                    {% else %}
                        <span class="badge text-bg-secondary">
                            Inativo
                        </span>
                    {% endif %}
                </td>

               <td class="text-end">
    <a class="btn btn-sm btn-outline-primary"
       href="{% url 'funcionarios:detalhe' f.pk %}">
        Ver
    </a>

    <a class="btn btn-sm btn-outline-dark"
       href="{% url 'funcionarios:editar' f.pk %}">
        Editar
    </a>

    <a class="btn btn-sm btn-outline-danger"
       href="{% url 'funcionarios:eliminar' f.pk %}">
        Eliminar
    </a>
</td>
            </tr>

            {% empty %}
            <tr>
                <td colspan="5">
                    Ainda não há funcionários registados.
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}